html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */ 
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  background: #fff;
  color: #333;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  height: 100%;
  line-height: 1;
  margin-top: 0;
  max-height: 1472px;
  min-height: 830px;
  padding-top: 0;
  z-index: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.nav-header {
  align-items: center;
  border-radius: 4px;
  background: #707070;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #787878), color-stop(0.5, #5E5E5E), color-stop(0.51, #707070), color-stop(1, #838383));
  background-image: -moz-linear-gradient(center bottom, #787878 0%, #5E5E5E 50%, #707070 51%, #838383 100%);
  
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
  display: flex;
  font-weight: 400;
  height: 36px;
  justify-content: space-evenly;
  margin: 0 auto;
  position: relative;
  top: 18px;
  width: 980px;
  z-index: 9998;
}

.nav-header ul {
  align-items: center;
  display: flex;
  height: 36px;
  justify-content: space-evenly;
  width: 845px;
}

.nav-header li {
  align-items: inherit;
  border-right: 1px solid #5c5c5c;
	border-left: 1px solid rgba(255,255,255,.2);
  flex: 1 1 auto;
  height: 36px;
  justify-content: center;
  width: 106px;
}

.nav-header li:first-child {
  border-left: none;
}

.nav-header li:first-child:hover {
  border-left: none;
}

.nav-header li:hover {
	background: rgba(0,0,0,.3);
	border-right: 1px solid transparent;
	border-left: 1px solid transparent;
	border-bottom: none;
}

.nav-header li:active {
	background: rgba(0,0,0,.3);
	box-shadow: inset 0px 3px 2px rgba(0,0,0,1);
}

.nav-header a {
  align-self: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: center;
  margin: auto;
  text-decoration: none;
}

.nav-header li:hover {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
	box-shadow: inset 0 0 40px rgba(255,255,255,.2);
	background: rgba(36,33,33, .6);
}

.nav-header span {
  align-self: center;
  justify-self: center;
  align-items: center;
  color: #fff;
  font-size: 12px;
  display: flex;
  height: 100%;
  width: 100%
  margin: auto;
}

.nav-header .search-box {
  display: flex;
  height: 36px;
  width: 132px;
  align-items: center;
  justify-content:center;
}

.search-box input {
  align-self: center;
  background: #7e7e7e; 
	background: -moz-linear-gradient(top,  #7e7e7e 0%, #797979 50%, #6e6e6e 52%, #767676 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7e7e7e), color-stop(50%,#797979), color-stop(52%,#6e6e6e), color-stop(100%,#767676)); 
	background: -webkit-linear-gradient(top,  #7e7e7e 0%,#797979 50%,#6e6e6e 52%,#767676 100%);
	background: -o-linear-gradient(top,  #7e7e7e 0%,#797979 50%,#6e6e6e 52%,#767676 100%); 
	background: -ms-linear-gradient(top,  #7e7e7e 0%,#797979 50%,#6e6e6e 52%,#767676 100%); 
	background: linear-gradient(to bottom,  #7e7e7e 0%,#797979 50%,#6e6e6e 52%,#767676 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e7e7e', endColorstr='#767676',GradientType=0 ); /* IE6-9 */
  border-radius: 50px;
  border: none;
  border-bottom: 1px solid #858585;
  box-shadow: inset 0px 1px 3px rgba(0,0,0,1);
  height: 19px;
  width: 106px;
}

.search-icon-container {
  height: 14px;
  width: 15px;
  position: absolute;
  top: 13px;
  left: 18px;
}
